@import "tailwindcss";

:root {
    --color-primary-bg: #131313;
    --color-secondary-bg: #191919;
    --color-primary-text: #d9d9d9;
    --color-primary-border: oklch(37.1% 0 0);
    --color-primary-focus: oklch(27.4% 0.006 286.033);
    --color-primary-hover: oklch(27.4% 0.006 286.033);
    --color-primary-link: #307cfc;

    --color-accent-green: #00E676;
    --color-accent-blue: #2979FF;
    --color-accent-yellow: #FFD600;
    --color-accent-orange: #FF9100;
    --color-accent-purple: #A020F0;
    --color-accent-red: #FF1744;
    --color-accent-pink: #FF2D87;
}

@theme {
    --color-primary-bg: var(--color-primary-bg);
    --color-secondary-bg: var(--color-secondary-bg);
    --color-primary-text: var(--color-primary-text);
    --color-primary-border: var(--color-primary-border);
    --color-primary-hover: var(--color-primary-hover);
    --color-primary-focus: var(--color-primary-focus);
    --color-primary-link: var(--color-primary-link);

    --color-accent-green: var(--color-accent-green);
    --color-accent-blue: var(--color-accent-blue);
    --color-accent-yellow: var(--color-accent-yellow);
    --color-accent-orange: var(--color-accent-orange);
    --color-accent-purple: var(--color-accent-purple);
    --color-accent-red: var(--color-accent-red);
    --color-accent-pink: var(--color-accent-pink);
}

html,
body {
    background-color: var(--color-primary-bg);
    color: var(--color-primary-text);
    transition: background-color .3s, color .3s;
    font-family: 'Mulish';
}

*[tooltip] {
    display: flex;
    justify-content: center;
}

*[tooltip]::after {
    visibility: hidden;
    opacity: 0;
    transition: .3s;
    background: var(--color-secondary-bg);
    padding: 4px;
    border-radius: 10px;
    position: absolute;
    content: attr(tooltip);
    font-size: 1rem;
    top: 100%;
    z-index: 50;
}

*[tooltip]:hover::after {
    visibility: visible;
    opacity: 85%;
}