@import "tailwindcss";

:root {
    --color-primary-bg: #ffffff;
    --color-secondary-bg: black;
    --color-primary-text: #000000;
    --color-primary-border: oklch(37.1% 0 0);
    --color-primary-hover: oklch(27.4% 0.006 286.033);
    --color-primary-focus: oklch(27.4% 0.006 286.033);
    --color-primary-link: #307cfc;

    --accent-light-green: #00E676;
    --accent-light-blue: #2979FF;
    --accent-light-yellow: #FFD600;
    --accent-light-orange: #FF9100;
    --accent-light-purple: #A020F0;
    --accent-light-red: #FF1744;
    --accent-light-pink: #FF2D87;
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-primary-bg: #131313;
        --color-secondary-bg: #191919;
        --color-primary-text: #d9d9d9;
        --color-primary-border: oklch(37.1% 0 0);
        --color-primary-focus: oklch(27.4% 0.006 286.033);
        --color-primary-hover: oklch(27.4% 0.006 286.033);
        --color-primary-link: #307cfc;

        --accent-dark-green: #00E676;
        --accent-dark-blue: #2979FF;
        --accent-dark-yellow: #FFD600;
        --accent-dark-orange: #FF9100;
        --accent-dark-purple: #A020F0;
        --accent-dark-red: #FF1744;
        --accent-dark-pink: #FF2D87;
    }
}

@theme {
    --color-primary-bg: var(--color-primary-bg);
    --color-secondary-bg: var(--color-secondary-bg);
    --color-primary-text: var(--color-primary-text);
    --color-primary-border: var(--color-primary-border);
    --color-primary-hover: var(--color-primary-hover);
    --color-primary-focus: var(--color-primary-focus);
    --color-primary-link: var(--color-primary-link);

    --accent-light-green: var(--accent-light-green);
    --accent-light-blue: var(--accent-light-blue);
    --accent-light-yellow: var(--accent-light-yellow);
    --accent-light-orange: var(--accent-light-orange);
    --accent-light-purple: var(--accent-light-purple);
    --accent-light-red: var(--accent-light-red);
    --accent-light-pink: var(--accent-light-pink);

    --accent-dark-green: var(--accent-dark-green);
    --accent-dark-blue: var(--accent-dark-blue);
    --accent-dark-yellow: var(--accent-dark-yellow);
    --accent-dark-orange: var(--accent-dark-orange);
    --accent-dark-purple: var(--accent-dark-purple);
    --accent-dark-red: var(--accent-dark-red);
    --accent-dark-pink: var(--accent-dark-pink);
}

html,
body {
    background-color: var(--color-primary-bg);
    color: var(--color-primary-text);
    transition: background-color .3s, color .3s;
    font-family: 'Mulish';
}